<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>leboncoin</h1>
    <h2>Liste des offres</h2>
    <nav class="navbar navbar-expand-lg navbar-light bg-leboncoin">
        <div class="container">
            <a class="navbar-brand" href="#">Leboncoin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/deposer">Déposer une annonce
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Offres</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-12 text-wrapper" style="background-color:white;">
        <h2>DVD : Documentaires</h2>
        <p>Paris 10ème</p>
        <p>1 €</p>
    </div>
        <div class="row">
        <div class="col-12 text-wrapper" style="background-color:white;">
        <h2>Blu-Ray Docteur Folamour (Neuf sous Blister)</h2>
        <p>Créteil / val-de-Marne</p>
        <p>11 €</p>
    </div>
        </div>
        <div class="row">
        <div class="col-12 text-wrapper" style="background-color:white;">
        <h2>Coffret de 9 DVD de Stanley Kubrick</h2>
        <p>Pris 18ème</p>
        <p>10 €</p>
    </div>
        </div>
        <div class="row">
        <div class="col-12 text-wrapper" style="background-color:white;">
        <h2>Lot dvd (n°12 - 25 films - "angoisse-peplum-wester")</h2>
        <p>Cély-en-bière / Seine et Marne</p>
        <p>14 €</p>
    </div>
        </div>
        <div class="row">
        <div class="col-12 text-wrapper" style="background-color:white;">
        <h2>2001 L'odyssée de l'espace collector 2 DVD</h2>
        <p>Brunoy / Essonne</p>
        <p>11 €</p>
    </div>
        </div>
        <div class="row">
        <div class="col-12 text-wrapper" style="background-color:white;">
        <h2>3dvd. eyes wide shut, memories, cellular</h2>
        <p>Paris 16ème</p>
        <p>5 €</p>
    </div>
    
</body>
</html>